.burger-menu {
    display: none;
    font-size: 1.5em;
    cursor: pointer;
}

@media screen and (max-width: 1440px) {
    .burger-menu {
        display: block;
    }

    nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px; /* Adjust as needed */
        left: 0;
        width: 100%;
        background-color: #333;
    }

    nav.show {
        display: flex;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 0;
        text-align: center;
        padding: 15px 0;
    }
    .logo {
        float: left;
        padding: 25px 0;
    }
    
    .burger-menu {
        float: right;
        font-size: 1.5em;
        cursor: pointer;
        padding-top: 25px;
        color: #fff
    }
    
}