/* General styles */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@font-face {
    font-family: SF-Pro-Display-Bold;
    src: url(fonts/san-francisco-pro/SF-Pro-Display-Bold.otf);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    overflow-x: hidden;
    background: #0D1116;
}


/* Hero */

.hero{
    width: 80%;
    margin: 0 auto;
    padding: 150px 0;
}
.hero-content h1{
    color: #fff;
    font-family: SF-Pro-Display-Bold;
    font-size: 32px;
    letter-spacing: 2px;
}

.hero-content p{
    color: #788E97;
    font-size: 24px;
    font-family: Roboto Thin;
}

/* Buttons */

.hero-buttons{
    margin-top: 3em !important;
}

.hero .button{
    appearance: none;
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    padding: 10px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}

.button-3{
    border: 1px solid rgba(27, 31, 35, .15);
    background-color: #793FC6;
}

.button-4{
    border: 2px solid #793FC6;
    background-color: transparent;
    margin-left: 10px;
}

.button-4:hover{
    box-shadow: #3f1f68 0 0 0 3px;
}
.button-3:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}

.button-3:hover {
    background-color: #6735a8;
}

.button-3:focus {
    box-shadow: #5e2e9c 0 0 0 3px;
    outline: none;
}

.button-3:disabled {
    background-color: #8a60c1;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
}

.button-3:active {
    background-color: #793FC6;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

/*  Feature Challenges  */

.feature-challenges{
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
}

.feature-challenges h1{
    color: #fff;
    font-size: 3em;
    text-align: center;
    font-family: SF-Pro-Display-Bold;
    font-size: 38px;
    letter-spacing: 2px;
}

.cards{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin-top: 30px;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    border: 1px solid #2F363C;
    background-color: #161B22;
    border-radius: 8px;
    padding: 1.5em;
    width: 400px;
}

.card .card-info{
    text-align: left;
    margin-bottom: 15px;
}


.card .diff{
    font-family: Roboto Thin;
}

.card h2{
    color: #fff;
    font-family: SF-Pro-Display-Bold;
    letter-spacing: 2px;
}

.card .diff{
    color: #788E97;
}

.card .easy{
    color: #14AD04;
}

.card .med{
    color: #E99700;
}

.card .adv{
    color: #C90000;
}

.card-picture,
.button{
    margin: 10px 0;
}

.card-picture{
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
    text-align: center;
}

.card .start-date{
    color: #fff;
}